@charset "UTF-8";
img {
  display: block;
  max-width: 100%;
  height: auto;
}

html body {
  display: block;
  font-family: "Golos", sans-serif;
}

@font-face {
  font-family: 'Golos';
  src: local("Golos Text Regular"), local("GolosText-Regular"), url("./../fonts/Golostextregular.woff2") format("woff2"), url("./../fonts/Golostextregular.woff") format("woff"), url("./../fonts/Golostextregular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Golos';
  src: local("Golos Text Bold"), local("GolosText-Bold"), url("./../fonts/Golostextbold.woff2") format("woff2"), url("./../fonts/Golostextbold.woff") format("woff"), url("./../fonts/Golostextbold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
  header .button_container {
    display: block !important;
  }
}

body.overflow {
  overflow: hidden;
}

header .button_container {
  position: absolute;
  top: 36px;
  right: 36px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 10001;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
  display: none;
}

header .button_container:hover {
  opacity: .7;
}

header .button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #F7F7F5;
}

header .button_container.active .middle {
  opacity: 0;
  background: #F7F7F5;
}

header .button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #F7F7F5;
}

header .button_container span {
  background: #F7F7F5;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}

header .button_container span:nth-of-type(2) {
  top: 11px;
}

header .button_container span:nth-of-type(3) {
  top: 22px;
}

header .overlay {
  position: fixed;
  background: #222058;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 1000;
}

header .overlay.open {
  opacity: 0.99;
  visibility: visible;
  height: 100%;
  z-index: 10000;
}

header .overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}

header .overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

header .overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}

header .overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}

header .overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Varela Round', serif;
  font-weight: 400;
  text-align: center;
}

header .overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
  max-width: 90%;
}

header .overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

header .overlay ul li a {
  display: block;
  position: relative;
  color: #F7F7F5;
  text-decoration: none;
  overflow: hidden;
  font-family: 'Golos', serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
}

header .overlay ul li a:hover:after, header .overlay ul li a:focus:after, header .overlay ul li a:active:after {
  width: 100%;
}

header .overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #F7F7F5;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

header {
  background: url(./../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  padding-top: 32px;
}

header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
}

header .menu-block ul {
  list-style-type: none;
  padding: 0 24px;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

header .menu-block ul li {
  padding: 0 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu-block ul li a {
  font-size: 14px;
  line-height: 22px;
  color: #FFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu-block ul li a:hover {
  color: #FFF;
}

header .phone-block .buy {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 22px;
  background: #4643B6;
  border-radius: 8px;
  color: #FFF;
}

#section-hero {
  background: url(./../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  height: 670px;
}

#section-hero h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 76px;
  color: #FFF;
  margin: avto 0;
}

#section-hero .hero {
  height: 100%;
}

#section-hero .text-hero {
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
  margin-top: 16px;
  margin-bottom: 40px;
}

#section-hero .catalog {
  background: #4643B6;
  border-radius: 8px;
  padding: 8px 16px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  font-size: 16px;
  line-height: 24px;
}

#section-about-us {
  padding-bottom: 64px;
  padding-top: 68px;
}

#section-about-us .caption {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #222058;
}

#section-about-us .caption::before {
  content: '—';
  color: #DFDEFF;
  border-radius: 3px;
  position: absolute;
  left: -26px;
}

#section-about-us .caption::after {
  content: '—';
  color: #DFDEFF;
  border-radius: 3px;
  margin-left: 8px;
}

#section-about-us h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #222058;
}

#section-about-us .logo-tayfun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-about-us img {
  margin: auto;
}

#section-about-us .text-up {
  font-size: 16px;
  line-height: 24px;
  color: #6C6A9C;
  margin-top: 16px;
}

#section-about-us .text-middle {
  font-size: 16px;
  line-height: 24px;
  color: #6C6A9C;
}

#section-about-us .text-down {
  font-size: 16px;
  line-height: 24px;
  color: #6C6A9C;
}

#section-capabilities {
  background: #F6F5FF;
  padding-top: 48px;
  padding-bottom: 48px;
}

#section-capabilities .block {
  background: #FFF;
  padding: 40px;
  border-radius: 8px;
  margin-top: 30px;
}

#section-capabilities h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-top: 22px;
  margin-bottom: 8px;
  color: #4643B6;
}

#section-capabilities .text {
  font-size: 14px;
  line-height: 22px;
  color: #6C6A9C;
}

#section-sale {
  padding-top: 64px;
  padding-bottom: 64px;
}

#section-sale .caption {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #222058;
}

#section-sale .caption::before {
  content: '—';
  color: #DFDEFF;
  border-radius: 3px;
  position: absolute;
  left: -26px;
}

#section-sale .caption::after {
  content: '—';
  color: #DFDEFF;
  border-radius: 3px;
  margin-left: 8px;
}

#section-sale .text {
  font-size: 16px;
  line-height: 24px;
  color: #6C6A9C;
  margin-top: 16px;
  margin-bottom: 24px;
}

#section-sale .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 2px solid #F7F7FE;
}

#section-sale .nav-tabs .nav-item .nav-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #D3D2DE;
  border: 0;
  padding: 0 0 16px 0;
  border-bottom: 1px solid #F7F7FE;
}

#section-sale .nav-tabs .nav-item .nav-link.active {
  color: #222058;
  border-bottom: 4px solid #222058;
  margin-bottom: -1px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#section-sale .text-up {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #222058;
  margin-top: 16px;
  margin-bottom: 8px;
}

#section-sale .text-middle {
  font-size: 14px;
  line-height: 22px;
  color: #6C6A9C;
  margin-bottom: 24px;
}

#section-sale .increase {
  margin-bottom: 30px;
}

#section-sale .increase .buy {
  background: #4643B6;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #FFF;
  margin-bottom: 30px;
}

#section-partners {
  background: #F6F5FF;
  padding-top: 48px;
  padding-bottom: 48px;
}

#section-partners .caption {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #222058;
}

#section-partners .caption::before {
  content: '—';
  color: #DFDEFF;
  border-radius: 3px;
  position: absolute;
  left: -26px;
}

#section-partners .caption::after {
  content: '—';
  color: #DFDEFF;
  border-radius: 3px;
  margin-left: 8px;
}

#section-partners .text {
  font-size: 16px;
  line-height: 24px;
  color: #6C6A9C;
  margin-top: 16px;
  margin-bottom: 50px;
}

#section-partners .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section-object {
  padding-top: 64px;
  padding-bottom: 64px;
}

#section-object .caption {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #222058;
}

#section-object .caption::before {
  content: '—';
  color: #DFDEFF;
  border-radius: 3px;
  position: absolute;
  left: -26px;
}

#section-object .caption::after {
  content: '—';
  color: #DFDEFF;
  border-radius: 3px;
  margin-left: 8px;
}

#section-object .text {
  font-size: 16px;
  line-height: 24px;
  color: #6C6A9C;
  margin-top: 16px;
  margin-bottom: 14px;
}

#section-object .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section-object .picture {
  position: relative;
  margin-top: 30px;
}

#section-object .thumb-image {
  width: 100%;
}

#section-object .icon {
  position: absolute;
  top: 16px;
  right: 31px;
}

#section-object .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-object .more a {
  padding: 8px 79px;
  background: #4643B6;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-top: 48px;
}

#section-form {
  background: #F6F5FF;
  padding-top: 48px;
  padding-bottom: 48px;
}

#section-form .caption {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #222058;
  margin-bottom: 32px;
}

#section-form .caption::before {
  content: '—';
  color: #DFDEFF;
  border-radius: 3px;
  position: absolute;
  left: -26px;
}

#section-form .caption::after {
  content: '—';
  color: #DFDEFF;
  border-radius: 3px;
  margin-left: 8px;
}

#section-form h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #6C6A9C;
  margin-bottom: 8px;
  margin-top: 16px;
}

#section-form h6 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-top: 74px;
  margin-bottom: 14px;
  color: #6C6A9C;
}

#section-form input,
#section-form textarea {
  padding: 14px 16px;
  width: 100%;
  background: #FFF;
  border-radius: 8px;
  color: #222058;
  border: none;
}

#section-form input::-webkit-input-placeholder,
#section-form textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 22px;
  color: #E6E6E6;
}

#section-form input:-ms-input-placeholder,
#section-form textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 22px;
  color: #E6E6E6;
}

#section-form input::-ms-input-placeholder,
#section-form textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 22px;
  color: #E6E6E6;
}

#section-form input::placeholder,
#section-form textarea::placeholder {
  font-size: 14px;
  line-height: 22px;
  color: #E6E6E6;
}

#section-form .select-container {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#section-form .select-container::after {
  content: " ";
  display: block;
  border-style: solid;
  border-width: 8px 6px 0 6px;
  border-color: #222058 transparent transparent transparent;
  position: absolute;
  top: 44%;
  right: 16px;
  z-index: 1;
}

#section-form select {
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  color: #222058;
  background: #FFF;
  border-radius: 8px;
  padding: 14px 22px;
  display: block;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

#section-form .button-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 24px;
}

#section-form .button-form {
  background: #4643B6;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 28px;
  margin-right: 22px;
  white-space: nowrap;
  margin-top: 3px;
}

#section-form .text-politics {
  font-size: 12px;
  line-height: 22px;
  color: #D0D0D0;
  margin: 0;
}

#section-form .text-politics a {
  color: #E1E1E1;
  font-size: 12px;
  line-height: 22px;
  color: #D0D0D0;
  font-weight: bold;
}

#section-form .text-middle {
  display: block;
}

#section-form .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-form .address {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #222058;
  margin-top: 40px;
  margin-bottom: 8px;
}

#section-form .text-contacts {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #222058;
  margin-bottom: 8px;
  margin-top: 24px;
}

#section-form .text-phone {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #222058;
  margin-bottom: 4px;
}

#section-form .text-middle {
  font-size: 14px;
  line-height: 22px;
  color: #6C6A9C;
}

#section-form .text-down {
  color: #222058;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 4px;
}

footer {
  padding-top: 32px;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-content .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-content .flex ul {
  list-style-type: none;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

footer .footer-content .flex ul li {
  margin: 24px;
  margin-left: 0;
}

footer .footer-content .flex ul li a {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #6C6A9C;
  margin-top: 4px;
}

footer .footer-content .flex ul li a:hover {
  color: #6C6A9C;
}

footer .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-right .footer-call {
  padding: 8px 16px;
  background: #4643B6;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin-right: 30px;
  color: #FFF;
}

footer .footer-right .footer-write {
  background: #222058;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #FFF;
  text-align: center;
}

.modaal-wrapper .modaal-container {
  max-width: 1440px;
  background: #F6F5FF;
}

.modaal-wrapper .modaal-content-container {
  padding: 0;
}

.modaal-wrapper .picture-modal {
  background: url(./../images/home-modal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 100%;
}

.modaal-wrapper .caption {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #222058;
  margin-bottom: 32px;
  margin-top: 48px;
}

.modaal-wrapper .caption::before {
  content: '—';
  color: #DFDEFF;
  border-radius: 3px;
  position: absolute;
  left: 106px;
}

.modaal-wrapper .caption::after {
  content: '—';
  color: #DFDEFF;
  border-radius: 3px;
  margin-left: 8px;
}

.modaal-wrapper h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #6C6A9C;
  margin-bottom: 8px;
  margin-top: 16px;
}

.modaal-wrapper h6 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-top: 74px;
  margin-bottom: 14px;
  color: #6C6A9C;
}

.modaal-wrapper img {
  max-width: none;
}

.modaal-wrapper input,
.modaal-wrapper textarea {
  padding: 14px 16px;
  width: 100%;
  background: #FFF;
  border-radius: 8px;
  color: #222058;
  border: none;
}

.modaal-wrapper input::-webkit-input-placeholder,
.modaal-wrapper textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 22px;
  color: #E6E6E6;
}

.modaal-wrapper input:-ms-input-placeholder,
.modaal-wrapper textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 22px;
  color: #E6E6E6;
}

.modaal-wrapper input::-ms-input-placeholder,
.modaal-wrapper textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 22px;
  color: #E6E6E6;
}

.modaal-wrapper input::placeholder,
.modaal-wrapper textarea::placeholder {
  font-size: 14px;
  line-height: 22px;
  color: #E6E6E6;
}

.modaal-wrapper input:focus,
.modaal-wrapper textarea:focus {
  border: 1px solid #6C6A9C;
}

.modaal-wrapper .block-modal {
  margin-left: 135px;
  margin-right: 130px;
}

.modaal-wrapper .button-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 24px;
}

.modaal-wrapper .button-form {
  background: #4643B6;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 28px;
  margin-right: 22px;
  white-space: nowrap;
  margin-top: 3px;
  margin-bottom: 48px;
}

.modaal-wrapper .text-politics {
  font-size: 12px;
  line-height: 22px;
  color: #D0D0D0;
  margin: 0;
}

.modaal-wrapper .text-politics a {
  font-size: 12px;
  line-height: 22px;
  color: #D0D0D0;
}

@media only screen and (max-width: 1460px), only screen and (max-device-width: 1460px) {
  .modaal-wrapper .button-send {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modaal-wrapper .button-form {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .modaal-wrapper .text-politics {
    margin-bottom: 48px;
  }
}

@media only screen and (max-width: 1251px), only screen and (max-device-width: 1251px) {
  .modaal-wrapper .block-modal {
    margin-left: 90px;
  }
  .modaal-wrapper .caption::before {
    left: 66px;
  }
}

@media only screen and (max-width: 1241px), only screen and (max-device-width: 1241px) {
  .modaal-wrapper .picture-modal {
    background: unset;
  }
  .modaal-wrapper .block-modal {
    margin-left: 60;
  }
  .modaal-wrapper .modaal-container {
    max-width: 600px;
  }
  .modaal-wrapper .format {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media only screen and (max-width: 1199px), only screen and (max-device-width: 1199px) {
  #section-capabilities .block {
    min-height: 422px;
  }
  #section-partners .flex-container {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
  header nav .container-absolute .header-content .flex.menu-block {
    display: none;
  }
  header .phone-block {
    margin-left: auto;
    margin-right: 60px;
  }
  #section-capabilities .block {
    min-height: 378px;
  }
  #section-form .button-send {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section-form .button-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
  }
  #section-form .text-politics {
    margin-top: 20px;
  }
  footer .footer-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-right .footer-call {
    margin-bottom: 20px;
    margin-right: 0;
  }
  footer .footer-right .footer-write {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .container {
    padding-left: 35px;
    padding-right: 35px;
  }
  #section-capabilities .block {
    min-height: unset;
  }
  #section-about-us img {
    margin-top: 30px;
  }
  #section-form .caption {
    margin-top: 30px;
  }
  #section-form h6 {
    margin-top: 40px;
  }
  #section-partners .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  #section-sale .block-picture img {
    width: 100%;
  }
  #section-form .text-phone {
    margin-top: 10px;
  }
  footer {
    padding-top: 0;
  }
  footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  footer .footer-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-content .flex ul li {
    margin: 10px 0px 12px 0px;
  }
  footer .footer-content .flex ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .footer-right .footer-call {
    margin-bottom: 20px;
    margin-right: 20px;
  }
  footer .footer-right .footer-write {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 575px), only screen and (max-device-width: 575px) {
  header .phone-block {
    margin-right: 90px;
  }
}

@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
  .modaal-wrapper .block-modal {
    margin-left: 42px;
  }
  .modaal-wrapper .caption::before {
    left: 19px;
  }
}

@media only screen and (max-width: 551px), only screen and (max-device-width: 551px) {
  .modaal-wrapper .caption::before {
    content: none;
  }
  .modaal-wrapper .caption::after {
    content: none;
  }
}

@media only screen and (max-width: 424px), only screen and (max-device-width: 424px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .modaal-inner-wrapper {
    padding: 0;
  }
  .header-logo {
    display: none;
  }
  header .phone-block {
    margin-left: 21px;
    margin-right: auto;
  }
  #section-about-us .caption:after {
    content: none;
  }
  #section-about-us .caption::before {
    content: none;
  }
  #section-sale .caption:after {
    content: none;
  }
  #section-sale .caption:before {
    content: none;
  }
  #section-partners .caption:after {
    content: none;
  }
  #section-partners .caption:before {
    content: none;
  }
  #section-partners .flex-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #section-partners .flex-container img {
    display: inline-block;
    max-width: calc(50% - 16px);
    margin: 0 8px;
  }
  #section-object .caption:after {
    content: none;
  }
  #section-object .caption:before {
    content: none;
  }
  #section-form .caption:after {
    content: none;
  }
  #section-form .caption:before {
    content: none;
  }
  #section-object .more a {
    padding: 8px 66px;
  }
  #section-sale .nav-tabs .nav-item {
    margin-bottom: 10px;
  }
  #section-sale .block-picture img {
    width: 100%;
  }
  footer .footer-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-right .footer-call {
    margin-bottom: 20px;
    margin-right: 0;
  }
  footer .footer-right .footer-write {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */