header {
  background: #5077FE;

  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .flex {
    display: flex;
    align-items: center;
  }

  .logo {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #FFF;
    margin: auto 0;
    text-decoration: none;
  }

  .menu-block {
    display: inline-flex;
    align-items: center;
    margin: auto 0;

    ul {
      list-style-type: none;
      padding: 0 30px;
      margin: 0;
      display: inline-flex;

      li {
        padding: 0 12px;
        align-items: center;

        a {
          font-size: 18px;
          line-height: 30px;
          color: #FFF;
          align-items: center;
          text-decoration: none;

          &:hover {
            color: #FFF;
          }
        }
      }
    }
  }

  .button-results {
    background: #5077FE;
    border: 1px solid #FFF;
    border-radius: 6px;
    width: 100%;
    align-items: center;
    padding: 10px 24px;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    letter-spacing: -0.015em;
    color: #FFF;
    text-decoration: none;
    margin-right: 20px;
  }

  .button-record {
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 6px;
    width: 100%;
    align-items: center;
    border: none;
    padding: 10px 40px;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    letter-spacing: -0.015em;
    color: #5077FE;
    text-decoration: none;
  }
}

#section-hero {
  .swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 782px;
  }

  .ss-1 {
    background-image: url(./../images/slide-one.jpg);
  }

  .ss-2 {
    background-image: url(./../images/slide-two.jpg);
  }


  .ss-3 {
    background-image: url(./../images/slide-three.jpg);
  }

  .ss-4 {
    background-image: url(./../images/slide-four.jpg);
  }

  .ss-5 {
    background-image: url(./../images/slide-five.jpg);
  }

  .ss-6 {
    background-image: url(./../images/slide-six.jpg);
  }

  .btn-block {
    position: absolute;
    z-index: 100;
    bottom: 78px;
    width: 100%;
    text-align: center;
  }

  .btn {
    background: #F2F2F2;
    border: 1px solid #5077FE;
    border-radius: 6px;
    padding: 15px 91px;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    letter-spacing: -0.015em;
    color: #5077FE;
    text-decoration: none;
  }
}

#section-about-us {
  padding-bottom: 64px;
  margin-top: 40px;


  h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #F8F8F9;
    padding-top: 50px;
    margin-bottom: 16px;
  }

  .team {
    font-size: 36px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #F8F8F9;
    padding-bottom: 98px;
  }

  .line {
    border: 1px solid #5077FE;
    display: inline-block;
  }

  .line-right {
    border: 1px solid #5077FE;
  }

  .text-up {
    font-weight: bold;
    font-size: 144px;
    line-height: 173px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #5077FE;
  }

  .text-down {
    font-size: 36px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #5077FE;
  }
}

#section-work {
  h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -0.015em;
    color: #000000;
    margin-bottom: 20px;
  }

  .block-pic {
    width: 100%;
  }

  .text-block {
    margin-left: 135px;
    max-width: 385px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .text-work {
      font-size: 18px;
      line-height: 27px;
      letter-spacing: -0.015em;
      color: rgba(0, 0, 0, 0.8);
      margin-bottom: 0;
    }

    h3 {
      font-size: 36px;
      line-height: 45px;
      letter-spacing: -0.015em;
      color: #000;
      margin-bottom: 24px;
    }
  }
}

#section-tariffs {
  margin-top: 44px;

  h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -0.015em;
    color: #000000;
    margin-bottom: 20px;
  }

  .text-tariffs {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 36px;
    margin-bottom: 44px;
  }

  .card-block {
    border: 1px solid #F8F8F9;

    &.even {
      border-left: none;
      border-right: none;
    }
  }

  .card-set {
    padding: 80px;
    border: 1px solid #5077FE;

    &.even {
      border-left: none;
      border-right: none;
    }
  }

  .text-heading {
    font-size: 36px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: #000000;
    margin-top: 80px;
  }

  .block-pic {
    display: flex;
    margin: auto;
  }
}

footer {
  padding-top: 40px;
  padding-bottom: 34px;

  .block-icons {
    display: flex;
    justify-content: center;

    .icons {
      display: inline-block;
      margin-right: 26px;
    }
  }

  .network {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 4px;
  }
}