header {
  background: url(./../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  padding-top: 32px;

  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .flex {
    display: flex;
    align-items: center;
  }

  .menu-block {
    display: inline-flex;
    align-items: center;
    margin: auto 0;

    ul {
      list-style-type: none;
      padding: 0 24px;
      margin: 0;
      display: inline-flex;

      li {
        padding: 0 12px;
        align-items: center;

        a {
          font-size: 14px;
          line-height: 22px;
          color: #FFF;
          align-items: center;

          &:hover {
            color: #FFF;
          }
        }
      }
    }
  }


  .phone-block {
    .buy {
      width: 100%;
      align-items: center;
      border: none;
      padding: 8px 16px;
      font-size: 14px;
      line-height: 22px;
      background: #4643B6;
      border-radius: 8px;
      color: #FFF;
    }
  }
}

#section-hero {
  background: url(./../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  height: 670px;

  h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
    color: #FFF;
    margin: avto 0;
  }

  .hero {
    height: 100%;
  }

  .text-hero {
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
    margin-top: 16px;
    margin-bottom: 40px;
  }

  .catalog {
    background: #4643B6;
    border-radius: 8px;
    padding: 8px 16px;
    width: 100%;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
  }
}

#section-about-us {
  padding-bottom: 64px;
  padding-top: 68px;

  .caption {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #222058;

    &::before {
      content: '—';
      color: #DFDEFF;
      border-radius: 3px;
      position: absolute;
      left: -26px;
    }

    &::after {
      content: '—';
      color: #DFDEFF;
      border-radius: 3px;
      margin-left: 8px;
    }
  }

  h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #222058;
  }

  .logo-tayfun {
    display: flex;
  }

  img {
    margin: auto;
  }

  .text-up {
    font-size: 16px;
    line-height: 24px;
    color: #6C6A9C;
    margin-top: 16px;
  }

  .text-middle {
    font-size: 16px;
    line-height: 24px;
    color: #6C6A9C;
  }

  .text-down {
    font-size: 16px;
    line-height: 24px;
    color: #6C6A9C;
  }
}

#section-capabilities {
  background: #F6F5FF;
  padding-top: 48px;
  padding-bottom: 48px;

  .block {
    background: #FFF;
    padding: 40px;
    border-radius: 8px;
    margin-top: 30px;
  }

  h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-top: 22px;
    margin-bottom: 8px;
    color: #4643B6;
  }

  .text {
    font-size: 14px;
    line-height: 22px;
    color: #6C6A9C;
  }
}

#section-sale {
  padding-top: 64px;
  padding-bottom: 64px;

  .caption {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #222058;


    &::before {
      content: '—';
      color: #DFDEFF;
      border-radius: 3px;
      position: absolute;
      left: -26px;
    }

    &::after {
      content: '—';
      color: #DFDEFF;
      border-radius: 3px;
      margin-left: 8px;
    }
  }

  .text {
    font-size: 16px;
    line-height: 24px;
    color: #6C6A9C;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .nav-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 2px solid #F7F7FE;

    .nav-item {
      .nav-link {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        color: #D3D2DE;
        border: 0;
        padding: 0 0 16px 0;
        border-bottom: 1px solid #F7F7FE;

        &.active {
          color: #222058;
          border-bottom: 4px solid #222058;
          margin-bottom: -1px;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }
  }

  .text-up {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #222058;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  .text-middle {
    font-size: 14px;
    line-height: 22px;
    color: #6C6A9C;
    margin-bottom: 24px;
  }

  .increase {
    margin-bottom: 30px;

    .buy {
      background: #4643B6;
      border-radius: 8px;
      padding: 8px 16px;
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
      color: #FFF;
      margin-bottom: 30px;
    }
  }
}

#section-partners {
  background: #F6F5FF;
  padding-top: 48px;
  padding-bottom: 48px;

  .caption {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #222058;


    &::before {
      content: '—';
      color: #DFDEFF;
      border-radius: 3px;
      position: absolute;
      left: -26px;
    }

    &::after {
      content: '—';
      color: #DFDEFF;
      border-radius: 3px;
      margin-left: 8px;
    }
  }

  .text {
    font-size: 16px;
    line-height: 24px;
    color: #6C6A9C;
    margin-top: 16px;
    margin-bottom: 50px;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

  }
}

#section-object {
  padding-top: 64px;
  padding-bottom: 64px;

  .caption {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #222058;


    &::before {
      content: '—';
      color: #DFDEFF;
      border-radius: 3px;
      position: absolute;
      left: -26px;
    }

    &::after {
      content: '—';
      color: #DFDEFF;
      border-radius: 3px;
      margin-left: 8px;
    }
  }

  .text {
    font-size: 16px;
    line-height: 24px;
    color: #6C6A9C;
    margin-top: 16px;
    margin-bottom: 14px;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .picture {
    position: relative;
    margin-top: 30px;

  }

  .thumb-image {
    width: 100%;
  }

  .icon {
    position: absolute;
    top: 16px;
    right: 31px;
  }

  .more {
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {

      padding: 8px 79px;
      background: #4643B6;
      border-radius: 8px;
      font-size: 16px;
      line-height: 24px;
      color: #FFF;
      display: flex;
      flex-direction: row;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      margin-top: 48px;
    }
  }
}


#section-form {
  background: #F6F5FF;
  padding-top: 48px;
  padding-bottom: 48px;

  .caption {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #222058;
    margin-bottom: 32px;


    &::before {
      content: '—';
      color: #DFDEFF;
      border-radius: 3px;
      position: absolute;
      left: -26px;
    }

    &::after {
      content: '—';
      color: #DFDEFF;
      border-radius: 3px;
      margin-left: 8px;
    }
  }


  h5 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #6C6A9C;
    margin-bottom: 8px;
    margin-top: 16px;
  }

  h6 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-top: 74px;
    margin-bottom: 14px;
    color: #6C6A9C;
  }

  input,
  textarea {
    padding: 14px 16px;
    width: 100%;
    background: #FFF;
    border-radius: 8px;
    color: #222058;
    border: none;

    &::placeholder {
      font-size: 14px;
      line-height: 22px;
      color: #E6E6E6;
    }
  }

  .select-container {
    position: relative;
    user-select: none;

    &::after {
      content: " ";
      display: block;
      border-style: solid;
      border-width: 8px 6px 0 6px;
      border-color: #222058 transparent transparent transparent;
      position: absolute;
      top: 44%;
      right: 16px;
      z-index: 1;
    }
  }

  select {
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    color: #222058;
    background: #FFF;
    border-radius: 8px;
    padding: 14px 22px;
    display: block;
    width: 100%;
    appearance: none;
    box-sizing: border-box;
    border: none;
  }

  .button-send {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
  }

  .button-form {
    background: #4643B6;
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #FFF;
    display: flex;
    justify-content: center;
    margin-top: 28px;
    margin-right: 22px;
    white-space: nowrap;
    margin-top: 3px;
  }

  .text-politics {
    font-size: 12px;
    line-height: 22px;
    color: #D0D0D0;
    margin: 0;

    a {
      color: #E1E1E1;
      font-size: 12px;
      line-height: 22px;
      color: #D0D0D0;
      font-weight: bold;
    }
  }

  .text-middle {
    display: block;
  }

  .block {
    display: flex;
  }

  .address {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #222058;
    margin-top: 40px;
    margin-bottom: 8px;
  }

  .text-contacts {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #222058;
    margin-bottom: 8px;
    margin-top: 24px;
  }

  .text-phone {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #222058;
    margin-bottom: 4px;
  }

  .text-middle {
    font-size: 14px;
    line-height: 22px;
    color: #6C6A9C;
  }

  .text-down {
    color: #222058;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 4px;
  }
}

footer {
  padding-top: 32px;


  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .flex {
      display: flex;


      ul {
        list-style-type: none;
        padding: 0;
        display: inline-flex;

        li {
          margin: 24px;
          margin-left: 0;

          a {
            font-weight: bold;
            font-size: 14px;
            line-height: 22px;
            color: #6C6A9C;
            margin-top: 4px;

            &:hover {
              color: #6C6A9C;
            }
          }
        }
      }
    }
  }

  .footer-right {
    display: flex;
    flex-direction: row;

    .footer-call {
      padding: 8px 16px;
      background: #4643B6;
      border-radius: 8px;
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      margin-right: 30px;
      color: #FFF;
    }

    .footer-write {
      background: #222058;
      border-radius: 8px;
      padding: 8px 16px;
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
      color: #FFF;
      text-align: center;
    }
  }
}


.modaal-wrapper {
  .modaal-container {
    max-width: 1440px;
    background: #F6F5FF;

  }

  .modaal-content-container {
    padding: 0;
  }

  .picture-modal {
    background: url(./../images/home-modal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 100%;
  }

  .caption {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #222058;
    margin-bottom: 32px;
    margin-top: 48px;


    &::before {
      content: '—';
      color: #DFDEFF;
      border-radius: 3px;
      position: absolute;
      left: 106px;
    }

    &::after {
      content: '—';
      color: #DFDEFF;
      border-radius: 3px;
      margin-left: 8px;
    }
  }

  h5 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #6C6A9C;
    margin-bottom: 8px;
    margin-top: 16px;
  }

  h6 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-top: 74px;
    margin-bottom: 14px;
    color: #6C6A9C;
  }

  img {
    max-width: none;
  }

  input,
  textarea {
    padding: 14px 16px;
    width: 100%;
    background: #FFF;
    border-radius: 8px;
    color: #222058;
    border: none;

    &::placeholder {
      font-size: 14px;
      line-height: 22px;
      color: #E6E6E6;
    }

    &:focus {
      border: 1px solid #6C6A9C;
    }
  }

  .block-modal {
    margin-left: 135px;
    margin-right: 130px;
  }

  .button-send {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
  }

  .button-form {
    background: #4643B6;
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #FFF;
    display: flex;
    justify-content: center;
    margin-top: 28px;
    margin-right: 22px;
    white-space: nowrap;
    margin-top: 3px;
    margin-bottom: 48px;
  }

  .text-politics {
    font-size: 12px;
    line-height: 22px;
    color: #D0D0D0;
    margin: 0;

    a {
      font-size: 12px;
      line-height: 22px;
      color: #D0D0D0;
    }
  }
}