@media only screen and (max-width: 1460px),
only screen and (max-device-width: 1460px) {
  #section-map .block-map {
    position: absolute;
    left: 70px;
  }
}

@media only screen and (max-width: 1199px),
only screen and (max-device-width: 1199px) {}

@media only screen and (max-width: 991px),
only screen and (max-device-width: 991px) {
  header nav .container-absolute .header-content {
    .flex.menu-block {
      display: none;
    }
  }

  #section-work .text-block {
    margin: 20px 0px;
  }

  header .button_container {
    top: 52px;
  }

  #section-map .block-map {
    display: none;
  }

  .block-pic {
    margin-top: 40px;
  }

  header .header-content {
    justify-content: space-evenly;
    padding: 30px;
  }

}

@media only screen and (max-width: 767px),
only screen and (max-device-width: 767px) {
  header .logo {
    display: none;
  }

  header .button_container {
    top: 36px;
  }

  header .header-content {
    justify-content: center;
    padding: 30px;
  }
}

@media only screen and (max-width: 575px),
only screen and (max-device-width: 575px) {}


@media only screen and (max-width: 424px),
only screen and (max-device-width: 424px) {
  header .header-content {
    justify-content: flex-start;
    padding: 30px;
  }
}