@font-face {
  font-family: 'PT Root UI';
  src: url('../fonts/PTRootUI-Medium.eot');
  src: local('PT Root UI Medium'), local('PTRootUI-Medium'),
    url('../fonts/PTRootUI-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTRootUI-Medium.woff2') format('woff2'),
    url('../fonts/PTRootUI-Medium.woff') format('woff'),
    url('../fonts/PTRootUI-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('../fonts/PTRootUI-Light.eot');
  src: local('PT Root UI Light'), local('PTRootUI-Light'),
    url('../fonts/PTRootUI-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTRootUI-Light.woff2') format('woff2'),
    url('../fonts/PTRootUI-Light.woff') format('woff'),
    url('../fonts/PTRootUI-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('../fonts/PTRootUI-Regular.eot');
  src: local('PT Root UI'), local('PTRootUI-Regular'),
    url('../fonts/PTRootUI-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTRootUI-Regular.woff2') format('woff2'),
    url('../fonts/PTRootUI-Regular.woff') format('woff'),
    url('../fonts/PTRootUI-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('../fonts/PTRootUI-Bold.eot');
  src: local('PT Root UI Bold'), local('PTRootUI-Bold'),
    url('../fonts/PTRootUI-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTRootUI-Bold.woff2') format('woff2'),
    url('../fonts/PTRootUI-Bold.woff') format('woff'),
    url('../fonts/PTRootUI-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  body {
    display: block;
    font-family: "PT Root UI", sans-serif;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  margin-bottom: 48px;
}

// .block-pic {
//   width: 100%;
//   max-height: 353px;
// }

.line-block {
  border: 1px solid #5077FE;
  padding: 20px;
}

.border-block {
  border: 1px solid #5077FE;
}

.border-block-vertical {
  border-top: 1px solid #5077FE;
  border-bottom: 1px solid #5077FE;
}

.border-top-off {
  border-top: none !important;
}

.border-right-off {
  border-right: none !important;
}

.border-bottom-off {
  border-bottom: none !important;
}

.border-left-off {
  border-left: none !important;
}

.button-gray {
  background: #C4C4C4;
  border: 1px solid #5077FE;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  display: inline-flex;
  align-items: center;
  color: #5077FE;
  border-radius: 6px;
  flex-direction: row;
  padding: 15px 90px;
  text-decoration: none;
  transition: all .3s;

  &:hover {
    background: #fff;
    color: #5077FE;
  }
}

.container-fluid {
  max-width: 1600px;
}

.g-2r,
.gy-2r {
  --bs-gutter-y: 2rem;
}

@import "menu", "index", "contacts", "team", "cafe", "events", "main", "media";